name: Test Extensively
on:
  workflow_call:
  workflow_dispatch:

jobs:
  test-jvm:
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-15, ubuntu-24.04 ]
        java-version: [17, 21]
        jdk-dist:
          - adopt-hotspot
          - temurin
#          - adopt-openj9
#          - zulu
    runs-on: ${{ matrix.os }}
    concurrency:
      group: build-${{ github.workflow }}-${{ matrix.os }}-${{ matrix.java-version }}-${{ matrix.jdk-dist }}-${{ github.event.number || github.ref }}
      cancel-in-progress: true
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
      - uses: DanySK/build-check-deploy-gradle-action@4.0.20
        with:
          java-distribution: ${{ matrix.jdk-dist }}
          java-version: ${{ matrix.java-version }}
          build-command: |
            ./gradlew classes testClasses --parallel
          check-command: |
            ./gradlew test --continue
          should-run-codecov: false
